In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [2]:
# url = "https://www.worldometers.info/world-population/#:~:text=Population%20in%20the%20world%20is,it%20was%20at%20around%202%25."
url = 'https://censusindia.co.in/districts'
result = requests.get(url)

Create a Soup Object

In [3]:
soup = bs(result.text, 'html.parser')
# soup

In [22]:
print('Classe of table')
for table in soup.find_all('table'):
    print(table.get('class'))

Classe of table
['table', 'table-striped']

In [14]:
table = soup.find_all('table', attrs={"class" :'table-striped'})
# print(len(table))
tables = soup.find('table', class_ = 'table table-striped')
# print(len(tables))

In [ ]:
# type(table)

In [15]:
table1 = table[0]

body = table1.find_all('tr')

head = body[0]

body_rows = body[1:]

In [16]:
headings = []
for item in head.find_all('th'):
  item = item.text.rstrip("\n")
  headings.append(item)
print(headings)

['#', 'District', 'Sub-districts', 'State', 'Area (km2)', 'Population', 'Literacy']

In [17]:
print(body_rows[0])

<tr>
<td>1</td>
<td><a href="/district/adilabad-district-andhra-pradesh-532" title="Adilabad District Population - Andhra Pradesh">Adilabad</a></td>
<td><a href="/subdistricts/mandals-adilabad-district-andhra-pradesh-532" title="List of Mandals in Adilabad district">Mandals</a></td>
<td>Andhra Pradesh</td>
<td>16,105</td>
<td>
2,741,239
</td>
<td>
61.01%
</td>
</tr>

In [18]:
import re
all_rows = []
for row_num in range(len(body_rows)):
  row = []
  for row_item in body_rows[row_num].find_all('td'):
    aa = re.sub("(\xa0)|(\n)|,|%","",row_item.text)
    # row_item.text removes the tags from the entries
    # xa0 encodes the flag, \n is the newline, comma separates thousands in numbers and % removes percentage in the last column
    row.append(aa)
  all_rows.append(row)

In [19]:
print(all_rows[0])

['1', 'Adilabad', 'Mandals', 'Andhra Pradesh', '16105', '2741239', '61.01']

In [20]:
df = pd.DataFrame(data = all_rows, columns=headings)
df.head()

   #    District Sub-districts           State Area (km2) Population Literacy
0  1    Adilabad       Mandals  Andhra Pradesh      16105    2741239    61.01
1  2        Agra       Tehsils   Uttar Pradesh       4041    4418797    71.58
2  3   Ahmadabad       Talukas         Gujarat       8107    7214225    85.31
3  4  Ahmadnagar       Talukas     Maharashtra      17048    4543159    79.05
4  5      Aizawl        Blocks         Mizoram       3576     400309    97.89

In [21]:
df.to_excel('Census.xlsx', index = False)