In [2]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

**This url incldes Census data of India for the year 2011**
Features included are:
* District
* State
* Population
* Growth
* Sex-Ratio and 
* Literacy

In [3]:
url = 'https://www.census2011.co.in/district.php'
result = requests.get(url)

Create a Soup Object

In [7]:
soup = bs(result.text, 'lxml')
# soup

In [11]:
print('Class of table')
for table in soup.find_all('table'):
    print(table.get('class'))

Class of table
['filter', 'table', 'table-striped', 'table-hover']

In [12]:
table = soup.find_all('table', attrs={'class': 'table-striped'})
print(len(table))

1

In [20]:
head = table[0].find_all('tr')[0]
body_rows = table[0].find_all('tr')[1:]

In [24]:
print(head)

<tr>
<th class="srno">#</th>
<th class="alignleft">District</th>
<th class="alignleft">State</th>
<th>Population</th>
<th>Growth</th>
<th>Sex-Ratio</th>
<th>Literacy</th>
</tr>

In [23]:
print(body_rows[0])

<tr>
<td>1</td>
<td class="alignleft"><a href="/census/district/355-thane.html" title="Thane">Thane</a></td>
<td class="alignleft"><a href="/census/state/districtlist/maharashtra.html">Maharashtra</a></td>
<td>11,060,148</td>
<td>36.01 %</td>
<td>886</td>
<td>84.53</td>
</tr>

In [26]:
headings = []
for item in head.find_all('th'):
    item = item.text.strip('\n')
#     print(item)
    headings.append(item)
print(headings)

['#', 'District', 'State', 'Population', 'Growth', 'Sex-Ratio', 'Literacy']

In [39]:
import re
all_rows = []
for row_num in range(len(body_rows)):
    row = []
    for row_item in body_rows[row_num].find_all('td'):
        clean_item = re.sub("(\xa0) |(\n)|,|%", "", row_item.text) # careful with comma- dont provide space before or after comma
        row.append(clean_item)
    all_rows.append(row)

In [40]:
all_rows[0]

['1', 'Thane', 'Maharashtra', '11060148', '36.01 ', '886', '84.53']

In [41]:
data = pd.DataFrame(data = all_rows, columns=headings)
data.head()

,#,District,State,Population,Growth,Sex-Ratio,Literacy
0,1,Thane,Maharashtra,11060148,36.01,886,84.53
1,2,North Twenty Four Parganas,West Bengal,10009781,12.04,955,84.06
2,3,Bangalore,Karnataka,9621551,47.18,916,87.67
3,4,Pune,Maharashtra,9429408,30.37,915,86.15
4,5,Mumbai Suburban,Maharashtra,9356962,8.29,860,89.91

In [42]:
data.shape

(640, 7)

In [43]:
data.to_excel('CensusOfIndia_2011_scraped-Source_2.xlsx', index = False)